@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap')
	;

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #66bbff;
}

.acessar {
	text-align: center;
	padding: 0.5em;
}

.menu {
	display: flex;
}

.Botao1 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.Caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.Caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
}

#caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;
}

#tabela {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#tabela th {
	border-top: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	background-color: #66bbff;
	color: #fff;
}

#tabela tr:nth-child(even) {
	background: rgb(199, 195, 195);
}

#tabela tr:nth-child(odd) {
	background: #EEE;
}

#tabelaLinha {
	padding: 10px;
}

#imgIconEdit {
	width: 25px;
}

#imgIconDelete {
	width: 20px;
}

#imgIconPdf {
	width: 25px;
	margin-left: 15px;
}

#imgIconEdit:hover {
	filter: invert(48%) sepia(12%) saturate(636%) hue-rotate(78deg)
		brightness(96%) contrast(90%);
}

#imgIconDelete:hover {
	filter: invert(17%) sepia(83%) saturate(3849%) hue-rotate(4deg)
		brightness(95%) contrast(99%);
}

#iconOption {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}